<div ng-controller="EditEventController" style="padding-left:20px; padding-right:20px">

<ps-framework title="Auction Page"
                  subtitle="Select your team members"
                  icon-file="images/kayak-icon-flat.png">

        <ps-menu>

        <!-- <ul>
        <li ng-repeat="event in events|orderBy:sortorder" class="span5"> -->
        <ps-menu-item ng-repeat="event in events|orderBy:sortorder"label="{{event.name}}" icon="{{event.imageUrl}}" route="{{event.imageUrl}}"></ps-menu-item>
           <!--  <ps-menu-item label="Dashboard" icon="fa-dashboard" route="dashboard"></ps-menu-item>
            <ps-menu-item label="Locations" icon="fa-location-arrow" route="locations"></ps-menu-item>
            <ps-menu-item label="Raft Guides" icon="fa-user" route="guides"></ps-menu-item> -->
         <!--    <ps-menu-group label="Equipment" icon="fa-gears">
                <ps-menu-item label="Rafts" icon="fa-unlink" route="rafts"></ps-menu-item>
                <ps-menu-item label="Paddles" icon="fa-magic" route="paddles"></ps-menu-item>
                <ps-menu-item label="Life Vests" icon="fa-life-ring" route="vests"></ps-menu-item>
            </ps-menu-group> -->
        </ps-menu>

     </ps-framework>

</div>
