  <div ng-controller="EventController" style="padding-left:20px; padding-right:20px">
    <img style="height:384px; width:1024;" ng-src="{{event.imageUrl}}" alt="{{event.name}}">
    <button class="btn" ng-click="reload()">Reload</button>
    <button type="button" class="btn btn-primary" ng-click="scrollToSession()">Scroll</button>
    <div class="row">
      <div class="span11">
        <h2>{{event.name | uppercase}} </h2>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <div><strong>Date:</strong> {{event.date}}</div>
        <div><strong>Time:</strong> {{event.time}}</div>
        <div><strong>Balance:</strong> {{event.balance | currency}}</div>
      </div>     
    </div>

    <hr>

    <h3>Members</h3>
    Order By Level:
   <!--  <select name="" id="" ng-model="sortorder" class="input-small">
      <option value="name" selected>Name</option>
      <option value="-upVoteCount">Votes</option>
    </select>
    Level: -->
    <select name="" id="" ng-model="query.level" class="input-medium">
      <option value="" selected>All</option>
      <option value="introductory" >Introductory</option>
      <option value="intermediate" >Intermediate</option>
      <option value="advanced" >Advanced</option>
    </select>
    <ul class="thumbnails inline">
      <li ng-repeat="member in event.members | orderBy:sortorder | limitTo:10 | filter:query" id="session{{session.id}}" class="span5">
        <div class="row session">
          <div class="well span9">
          <img  style="height:100px; width:100px;" class="img-thumbnail" ng-src="{{member.imageUrl}}" />  
            <h4 class="well-title">{{member.name}}</h4>
            <h6 style="margin-top:-10px">{{member.level}}</h6>
            <span>Description: {{member.description }}</span><br />
            <p>{{member.location.city}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
